<h2 style="text-align: center"><span
    style="color: #294661; font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Helvetica, Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space-collapse: collapse; text-wrap: wrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; box-sizing: border-box; width: 517.6px; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; border-collapse: separate; margin-top: 0px; margin-right: 0px; margin-bottom: 30px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; vertical-align: top; line-height: 1.5; font-size: 32px"
  >We appreciate your valuable feedback</span></h2>
<div style="font-family: inherit; text-align: center"><br /></div>
<div style="font-family: inherit; text-align: center"><span
    style="color: #294661; font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Helvetica, Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space-collapse: collapse; text-wrap: wrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; box-sizing: border-box; width: 517.6px; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; border-collapse: separate; margin-top: 0px; margin-right: 0px; margin-bottom: 30px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; vertical-align: top; font-size: 18px"
  >{{body}}</span></div>

<td
  align="center"
  bgcolor="GREEN"
  class="inner-td"
  style="border-radius:6px; font-size:16px; text-align:center; background-color:inherit;"
>
  <a
    href="{{urlY}}"
    style="border:1px solid GREEN; border-color:GREEN; border-radius:6px; border-width:1px; color:#ffffff; display:inline-block; font-size:14px; font-weight:700; letter-spacing:0px; line-height:normal; padding:12px 18px 12px 18px; text-align:center; text-decoration:none; border-style:solid; background-color:GREEN; width:90px;"
    target="_blank"
  >YES</a>
</td>
<td
  align="center"
  bgcolor="RED"
  class="inner-td"
  style="border-radius:6px; font-size:16px; text-align:center; background-color:inherit;"
>
  <a
    href="{{{urlN}}}"
    style="background-color:RED; border:1px solid RED; border-color:RED; border-radius:6px; border-width:1px; color:#ffffff; display:inline-block; font-size:14px; font-weight:700; letter-spacing:0px; line-height:normal; padding:12px 18px 12px 18px; text-align:center; text-decoration:none; border-style:solid; width:90px;"
    target="_blank"
  >NO</a>
</td>